*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #26A700; 
}
nav{
    padding: 20px;
    background-color: #bfe4b4;
    margin: -10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
     position: fixed;
     top: 0;
     left: 0;
    width: 100%;
    margin: auto; 

}
nav button{
        width: 100px;
        padding: 10px;
        outline: none;
        border: none;
        background-color: #26A700;
        color: white;
        cursor: pointer;
}
.dashboard{
    display: flex;
    
}
.userList{
    margin-left: -10px;
    color: white;
    width: 20%;  
    margin-top: 125px;
    overflow-y: scroll;  
    background-color: rgb(9, 68, 68);
    height: calc(87vh - 60px); 
  
}

.inputmessage{
    width: 1100px;
    padding: 10px;
    outline: none;
    margin-left: 50px;
}
button{
    width: 90px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: white;
    color: rgb(9, 68, 68);
    cursor: pointer;
}


.conversation{
    height: calc(80vh - 200px);
    width: 100%;
    margin-top: 140px;
     
} 

.search {
    position: fixed;
    margin-top: 85px;
    background-color: rgba(9, 68, 68);
    color: white;
    width: 100%;
    padding: 10px;
    /* margin-left: -10px; */
    /* margin-right: -10px; */
}
.search input{
    padding: 8px;
}
.searchForm{
    display: flex;
    gap: 30px;
}
.searchList{
    margin-top: 140px;
    color: white;
    width: 20%;
    overflow-y: scroll;  
    background-color: white;
    height: calc(87vh - 60px); 
    list-style: none;
    margin-left: -10px;
    padding: 10px;
}
.close{
    display: flex;
    justify-content: right;
    position: fixed;
    width: 14%;
   cursor: pointer;
   color: rgb(9, 68, 68);
}
.messageList{
    width: 100%;
    list-style: none;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.receivedClass{
    background-color:rgb(9, 68, 68);
    color: white;
    margin-top: 5px;
}

.messageBox{
    display: flex;
    justify-content: center;
    padding: 5px;
} 
.sentClass{
    margin-top: 5px;
    background-color: #26A700;;
    color: white;
}