<div class="main">
    <div class="signup">
        
        <h4>Create your Account</h4>
        <form action="" [formGroup]="signupForm">
           
            <input type="text" placeholder="Name" formControlName="Name">
    
            <small *ngIf="signupForm.controls['Name'].dirty  && signupForm.hasError('required', 'Name')" style="color: red;">*Username is required</small>
            
            <input type="email" placeholder="Email address" formControlName="email">
            <small *ngIf="signupForm.controls['email'].dirty  && signupForm.hasError('required', 'email')" style="color: red;">*email is required</small>
    
            
            <input type="password" placeholder="Password" formControlName="password">
            <small *ngIf="signupForm.controls['password'].dirty  && signupForm.hasError('required', 'password')" style="color: red;">*password is required</small>
            
    
            <button type="submit" (click)="onSignup()">Continue</button>
        </form>
        <p>Already have an account?  <span><a [routerLink]="['/login']">Login</a></span></p>
    </div>
    <p style="text-align: center;">Terms of use    |    Privacy Policy</p>
    </div>
